body{
    margin:0;
    padding:0;
}
nav{
    top: 0;
    height: 100px;
    background-color: #232653;
    position: fixed;
    width: 100%;
}
#intro_landing_page_first_part{
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/v1600108797/Screen_Shot_2020-09-14_at_2.39.30_PM_wvwi6p.png) ;
    width: 100%;
    height: auto;
    background-position: center;
    object-fit: cover;
    padding: 20px 0px;
    background-repeat: no-repeat;
    margin-top: 100px ;

}
#first_content{
    background-color: RGBA(256, 256, 256, 0.5);
    width: 220px;
    height: auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top:80px ;
    margin-bottom: 80px;
}
.name_of_app{
    font-size: 36px;
    color: #ffffff;
}
.slogan{
    color:#ffffff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#description_intro{
    color:#ffffff;
    font-size: 16px ;
}
/* SECOND PART------- */
#intro_sencond_part{
    display:flex;
    flex-direction: column;
}
h2{
    font-size: 18px;
}
.second_part_benefits{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#second{
    flex-direction: column-reverse;
}
#characteristic_one, #characteristic_two{
    width: 250px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    border: black solid 2px;
    padding: 10px;
    box-shadow: 2px 2px 4px #000000;
    margin-left: auto;
    margin-right: auto;
}
#image_description_one{
    /* background-image: url(https://res.cloudinary.com/g31ssa/image/upload/v1600114096/free-delivery-truck-icon-2049-thumb_krwl8d.png); */
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,h_300/v1600118759/free-delivery-truck-icon-2049-thumb_berl37.png);
    width: 280px;
    height: 140px;
    background-position: center;
    margin:10px;
    padding:10px;
    background-repeat: no-repeat;
}
#image_description_two{
    /* background-image: url(https://res.cloudinary.com/g31ssa/image/upload/v1600114096/886652_paint_512x512_py4tjy.png); */
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,w_200/v1600114096/886652_paint_512x512_py4tjy.png);
    width: 200px;
    height: 200px;
    background-position: center;
    margin:20px;
    padding:10px;
    background-repeat: no-repeat;
}
/* --FOOTER-------------*/
#landing_page{
    background-color: #232653;
    height: 180px;
    text-align: center;
    font-size: 18px;
}
#footer_paragraph{
    padding: 20px;
    color: #ffffff;
    margin: 20px;
}
#button_landing_page{
    padding:10px;
    border-radius: 10px;
    color: #ffffff;
    background-color:#AC88BF ;
}
/* MEDIA QUERIES FOR LANDING PAGE------ */
@media (min-width:499px) {
    #first_content{
        width:490px
    }
    .name_of_app{
        font-size: 50px;
    }
    .slogan{
        font-size: 30px;
    }
    #description_intro{
        font-size: 20px;
    }
    .second_part_benefits{
        flex-direction: row;

    }
    #second{
        flex-direction: row;
        align-items: center;
    }
    #footer_paragraph{
        font-size: 20px;
        padding-top: 40px;
        margin-bottom: 0px;
    }
    #button_landing_page{
        width:120px;
        height: 60px;
        font-size: 20px;
    }
    #image_description_one{
        margin-right: 0px;
    }

}
@media (min-width:722px) {
    #characteristic_one{
        margin-right: 30px;
        width: 400px;
    }
    #characteristic_two{
        margin-left: 30px;
        width: 400px;
    }
}
@media (min-width:769px) {
    #first_content{
        width:700px
    }
}
@media (min-width:1000px) {
    #first_content{
        width:900px
    }
    .name_of_app{
        font-size: 80px;
    }
    #characteristic_one{
        margin-right: 80px;
        width: 600px;
    }
    #characteristic_two{
        margin-left: 80px;
        width: 600px;
    }
    .slogan{
        font-size: 40px;
    }
    #description_intro{
        font-size: 30px;
    }
}
@media (min-width:1024px) {
    a{
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
    .toggler{
        visibility: hidden;
    }
    .list_nav{
        list-style-type: none;
        display:flex;
        flex-direction: row;
        width: 650;
        margin: 0px;
    }
    .list{
        margin:0px;
        width: auto;
        margin: 0px 10px;
    }
    #intro_landing_page_first_part{
        margin-top: 100px ;
    }
    
}












/* Editing LOGIN/SIGNUP Page */


#main_container{
    margin-top: 140px;
}
#container_login_form, #container_sigup_form{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}
/* LOGIN --------------------------------------------------- */
.name_of_app_login{
   color:#232653;
   text-align: center;
   margin-bottom: 10px;
}
#h3_login{
    color: #9DB7C7;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}
label{
    margin: 10px 0px;
    color:#232653;
}
input{
    padding:8px;
    margin-bottom: 10px;
}
#button_login{
    padding:8px;
    background-color: #232653;
    color:white;
    border-radius: 6px;
    border: none;
}
/* SIGN UP-------------------------------------------------- */
#container_sigup_form{
    margin-top: 20px;
    padding-bottom: 20px;
}
#h2_signup{
    color:white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 20px;
}
#h3_signup{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}
#image_back_signup_container{
    background-image:url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,w_760/v1600108797/Screen_Shot_2020-09-14_at_2.39.30_PM_wvwi6p.png);
    background-position: center;
    background-repeat: no-repeat;
}
#terms{
    color:white;
    font-size: 10px;
    text-align: center;
    width:180px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:600px) {
    .name_of_app_login, #h2_signup{
        font-size: 40px;
    }
    #container_login_form, #container_sigup_form{
        width: 500px;
    }
    #h3_login, #h3_signup{
        font-size: 18px;
    }
    b{
        font-size: 22px;
    }
    #image_back_signup_container{
        background-image: url(https://res.cloudinary.com/g31ssa/image/upload/v1600108797/Screen_Shot_2020-09-14_at_2.39.30_PM_wvwi6p.png) ;
        background-repeat: no-repeat;
        }
}
@media (min-width:1024px) {
    #main_container{
        display: flex;
        flex-direction: row;
        margin-top: 160px;
        justify-content: center;

    }
    #container_login_form{
        justify-content: center;
    }
    #container_login_form, #container_sigup_form{
        width: 500px;
        padding:20px;
    }
    #image_back_signup_container, #container_login_form{
       margin: 0px 60px;
    }

}













/* Editing USER PAGE */
#decorative_image{
    background-image:url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,w_1800/v1600108797/Screen_Shot_2020-09-14_at_2.39.30_PM_wvwi6p.png);
    height: 160px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
}
#h2_shopping{
    color:#232653;
    font-size: 26px;
    margin:10px;
}
li{
    width:260px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#school{
    background-color: #AC88BF;
}
#home{
    background-color: #9DB7C7;
}
#christmas{
    background-color: #D2618C;
}
#birthday{
    background-color:#F7E0F4 ;
}
#other{
    background-color: #232653;
    margin-bottom: 20px;
}

/* MEDIA QUERIES USER PAGER */
@media (min-width:415px) {
    li{
        width:360px;
    }
}

@media (min-width:620px) {


}

@media (min-width:620px) {
    li{
        width:260px;
        height: 50px;
    }
    #options_products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #school, #home, #other, #christmas, #birthday {
       padding:15px; 
       margin: 25px;
       font-size: 20px;

    }
}









/* Editing SUBSCRIBER */
#subs-h2{
    color:#232653;
    font-size: 26px;
    margin:10px;
}
